.defeated{
    color: rgb(112, 0, 0);
    background-color: rgba(0,0,0,0.6);
    backdrop-filter: blur(4px);
    padding: 20px;
    border-radius: 5px;
    font-size: 50px;
    margin-bottom: 50px;
}

.defeated-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100svw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.9);
}

.reset{
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(4px);
    color: rgb(157, 0, 0);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}